In [3]:
import pandas as pd

In [4]:
allreads = pd.read_csv("../slamdunk/csv/allreads.csv", index_col="gene_name")
tcreads = pd.read_csv("../slamdunk/csv/tcreads.csv", index_col="gene_name")

allreads.head()

,DMSO-L10a-1,DMSO-L10a-2,DMSO-L10a-3,DMSO-P0-1,DMSO-P0-2,DMSO-P0-3,DMSO-Total-1,DMSO-Total-2,DMSO-Total-3,TPG-L10a-1,TPG-L10a-2,TPG-L10a-3,TPG-P0-1,TPG-P0-2,TPG-P0-3,TPG-Total-1,TPG-Total-2,TPG-Total-3
gene_name,,,,,,,,,,,,,,,,,,
A1BG,107,33,108,142,160,85,65,84,39,75,74,75,116,82,127,94,116,75
A1CF,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
A2M,0,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
A2ML1,0,0,0,0,0,0,0,0,0,0,7,0,0,0,0,0,0,0
A4GALT,16,3,13,0,0,4,0,6,15,6,0,1,0,19,0,5,2,0

In [9]:
allreads.filter(regex="Total", axis=1).to_csv("../rscript/deseq2/input_txt/Total_DMSOvsTPG_All.txt", sep="\t")
allreads.filter(regex="P0", axis=1).to_csv("../rscript/deseq2/input_txt/P-TRAP_DMSOvsTPG_All.txt", sep="\t")
allreads.filter(regex="L10a", axis=1).to_csv("../rscript/deseq2/input_txt/L10a-TRAP_DMSOvsTPG_All.txt", sep="\t")

In [10]:
tcreads.filter(regex="Total", axis=1).to_csv("../rscript/deseq2/input_txt/Total_DMSOvsTPG_TC.txt", sep="\t")
tcreads.filter(regex="P0", axis=1).to_csv("../rscript/deseq2/input_txt/P-TRAP_DMSOvsTPG_TC.txt", sep="\t")
tcreads.filter(regex="L10a", axis=1).to_csv("../rscript/deseq2/input_txt/L10a-TRAP_DMSOvsTPG_TC.txt", sep="\t")