In [3]:
import pandas as pd

In [4]:
allreads = pd.read_csv("../slamdunk/csv/allreads.csv", index_col="gene_name")
tcreads = pd.read_csv("../slamdunk/csv/tcreads.csv", index_col="gene_name")

allreads = allreads.filter(regex=("Total|P0"), axis=1)
tcreads = tcreads.filter(regex=("Total|P0"), axis=1)

allreads.head()

,DMSO-P0-1,DMSO-P0-2,DMSO-P0-3,DMSO-Total-1,DMSO-Total-2,DMSO-Total-3,TPG-P0-1,TPG-P0-2,TPG-P0-3,TPG-Total-1,TPG-Total-2,TPG-Total-3
gene_name,,,,,,,,,,,,
A1BG,142,160,85,65,84,39,116,82,127,94,116,75
A1CF,0,0,0,0,0,0,0,0,0,0,0,0
A2M,0,1,0,0,0,0,0,0,0,0,0,0
A2ML1,0,0,0,0,0,0,0,0,0,0,0,0
A4GALT,0,0,4,0,6,15,0,19,0,5,2,0

In [5]:
column_names = [ "RIBO-DMSO-1", "RIBO-DMSO-2", "RIBO-DMSO-3", "RNA-DMSO-1", "RNA-DMSO-2", "RNA-DMSO-3",
                                "RIBO-TPG-1", "RIBO-TPG-2", "RIBO-TPG-3", "RNA-TPG-1", "RNA-TPG-2", "RNA-TPG-3"]

In [6]:
allreads.columns = column_names
tcreads.columns = column_names

In [7]:
allreads.head()

,RIBO-DMSO-1,RIBO-DMSO-2,RIBO-DMSO-3,RNA-DMSO-1,RNA-DMSO-2,RNA-DMSO-3,RIBO-TPG-1,RIBO-TPG-2,RIBO-TPG-3,RNA-TPG-1,RNA-TPG-2,RNA-TPG-3
gene_name,,,,,,,,,,,,
A1BG,142,160,85,65,84,39,116,82,127,94,116,75
A1CF,0,0,0,0,0,0,0,0,0,0,0,0
A2M,0,1,0,0,0,0,0,0,0,0,0,0
A2ML1,0,0,0,0,0,0,0,0,0,0,0,0
A4GALT,0,0,4,0,6,15,0,19,0,5,2,0

In [8]:
allreads.filter(regex="RIBO", axis=1).to_csv("../rscript/deltaTE/all/input_txt/P-TRAP_DMSOvsTPG_All.txt", sep="\t")
allreads.filter(regex="RNA", axis=1).to_csv("../rscript/deltaTE/all/input_txt/Total_DMSOvsTPG_All.txt", sep="\t")

In [9]:
tcreads.filter(regex="RIBO", axis=1).to_csv("../rscript/deltaTE/tc/input_txt/P-TRAP_DMSOvsTPG_TC.txt", sep="\t")
tcreads.filter(regex="RNA", axis=1).to_csv("../rscript/deltaTE/tc/input_txt/Total_DMSOvsTPG_TC.txt", sep="\t")

In [10]:
del allreads.index.name

AttributeError: can't delete attribute